a {
    color: #E67E22;
}
a:hover {
    color: #E67E22;
}

ul {
    list-style-type: none;
}

body {
	font-size: 2em;
}

.spacer-top {
    margin-top: 5em;
}

.spacer-top-small {
    margin-top: 2em;
}


.orange {
    color: #E67E22;
}

.link-icon {
    max-width: 5em;
}
